.mainsec .product-card {
    border-radius: 10px !important;
    overflow: hidden !important;
    transition: transform 0.3s ease !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.mainsec .product-img {
    width: 400px !important;
    height: 400px !important;
    object-fit: cover !important;
    border-radius: 10px !important;
}
.mainsec .product-img2 {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
    border-radius: 10px !important;
}


/* ################################################################### cust review st */

.review-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.review-content {
    flex: 1;
    padding-left: 15px;
}
.star-rating i {
    color: gold;
}

/* ################################################################### cust review end */




/* ################################################################### sagest st */


.sagest .product-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.sagest .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);

}

.sagest .product-card .product-img {
    width: 100%;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px;
}


/* ################################################################### sagest end */


@media (max-width: 950px) {

    .mainsec .product-img{
        width: 300px !important;
    }
}
@media (max-width: 992px) {
    
    .mainsec .product-card {
        flex-direction: column !important;
        text-align: center !important;
        width: 100% !important;
        display: flex !important;
    }
    .mainsec .product-img {
        width: 100% !important;
        height: auto !important;
        max-height: 200px !important;
        border-radius: 10px !important;
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }
    .mainsec .product-img2 {
        width: 50% !important;
        height: 150px !important;
        object-fit: cover !important;
        border-radius: 10px !important;
    }
    .mainsec .sec-img{
        width: auto !important;
    }
    
}